<MudGrid>
    <MudItem xs="12">
        <MudLink Href="https://github.com/RyanFloresTT" target=”_blank” Underline="Underline.None">
            <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center" Style="height: 200px; color: black;">
                <MudIcon Class="mx-2 my-auto" Icon="@Icons.Custom.Brands.GitHub" Size="@Size.Large" Style="color: black;" />
                <h1 style="color: black;">GitHub</h1>
            </MudPaper>
        </MudLink>

    </MudItem>
    <MudItem xs="12">
        <MudLink Href="https://www.linkedin.com/in/ryan-flores-tt/" target=”_blank” Underline="Underline.None">
            <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center" Style="height: 200px; background-color: #0077B5;">
                <MudIcon Class="mx-2 my-auto" Icon="@Icons.Custom.Brands.LinkedIn" Size="@Size.Large" />
                <h1 class="my-auto">LinkedIn</h1>
            </MudPaper>
        </MudLink>
    </MudItem>
    <MudItem xs="12">
        <MudLink Href="https://ryanflorestt.itch.io/" target=”_blank” Underline="Underline.None">
            <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center" Style="height: 200px; background-color: #FA5C5C">
                <MudIcon Class="mx-2 my-auto" Icon="@Icons.Material.Filled.VideogameAsset" Size="@Size.Large" />
                <h1>Itch.io</h1>
            </MudPaper>
        </MudLink>
    </MudItem>
    
    <MudItem xs="12">
        <MudLink Href="https://twitter.com/_TrustyTea" target=”_blank” Underline="Underline.None">
            <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center" Style="height: 200px; background-color: #26a7de;">
                <MudIcon Class="mx-2 my-auto" Icon="@Icons.Custom.Brands.Twitter" Size="@Size.Large" />
                <h1 class="my-auto">Twitter</h1>
            </MudPaper>
        </MudLink>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center" Style="height: 200px; background-color: #7289da;">
            <MudIcon Class="mx-2 my-auto" Icon="@Icons.Custom.Brands.Discord" Size="@Size.Large" />
            <h1 class="my-auto">TrustyTea</h1>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

}
