@inherits LayoutComponentBase
@using PortfolioBlazor.Components.MyComponents

<MudThemeProvider Theme="MyCustomTheme" />
<MudLayout>
    <MudAppBar Elevation="0" Style="@($"background:{MyCustomTheme.Palette.Primary};")">
        <MudSpacer />
        <NavMenu />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ToggleRightDrawer())" />
    </MudAppBar>
    <MudDrawer Variant="@DrawerVariant.Temporary" Anchor="Anchor.End" @bind-Open="_rightDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="@($"background:{MyCustomTheme.Palette.Primary};")" Width="250px">
        <SocialMediaDrawerContent />
    </MudDrawer>
    <MudMainContent>
        <CascadingValue Value="@MyCustomTheme">
            <div class="body-container">
                @Body
            </div>
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    bool _leftDrawerOpen = false;
    bool _rightDrawerOpen = false;
    private bool _isDarkMode;

    void ToggleLeftDrawer()
    {
        _leftDrawerOpen = !_leftDrawerOpen;
    }

    void ToggleRightDrawer()
    {
        _rightDrawerOpen = !_rightDrawerOpen;
    }
    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#352F44",
                Secondary = "#5C5470",
                Tertiary = "#B9B4C7",
                Warning = "#FAF0E6"
            },
        };
}